<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Address</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu">
</header>
<main>
    <div class="container">
        <br/>
        <div class="h1">Customer Addresses</div>
        <br/>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Addresses: </th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="address : ${addresses}" th:object="${address}">

                <td th:text="*{street}">street</td>
                <td th:text="*{businessCenterName}">businessCenterName</td>
                <td th:text="*{block}">block</td>
                <td th:text="*{entrance}">entrance</td>
                <td th:text="*{floor}">floor</td>
                <td th:text="*{appartmentN}">appartmentN</td>
                <td th:text="*{officeN}">officeN</td>
                <td th:text="*{comment}">comment</td>
                <td th:text="*{contactName}">contactName</td>
                <td th:text="*{phoneNumber}">phoneNumber</td>
                <td th:text="*{email}">email</td>

            </tr>
            </tbody>
        </table>
        <br/>

    </div>
</main>
<script th:src="@{jquery/jquery.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>