<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu">
</header>
<main>

</main>
    <h1>Home</h1>
    <div>Logged In User</div>
    <div sec:authentication="name"></div>
    <div sec:authorize="hasRole('USER')">
        This is a section visible to users only!
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        This is a section visible to the administrator only!
    </div>
    <div sec:authorize="isAnonymous()">Login</div>
    <div sec:authorize="isAuthenticated()">Logout</div>
</body>
</html>